<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>List of Loads</title>
</head>
<body>
    <h1>List of Loads</h1>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('new_load') }}">Add New Load</a>

       <table border=1>
        <tr>

        {% for name in names %}

       <th>
         {{ name }}
       </th>

        {% endfor %}
        </tr>

        {% for load in loads %}
        <tr>
           {% for name in names %}
    
          <td>

            {{ load[name] }}
<!--
            {{ load.name }}
-->
          </td>
                 {% endfor %}


<!-- 
          <td>

            {{ load.nameBrand }}
          </td>
          <td>

            {{ load.powerWatts }}
          </td>
          <td>

            {{ load.number }} 
          </td>
          <td>

            {{ load.day_duration }}
          </td>
          <td>


            {{ load.night_duration }}


          </td>
-->
          <td> 


            <a href="{{ url_for('update_load', id=load.id) }}" >Edit</a>
               </td>
          <td>

            
            <a href="{{ url_for('delete_load', id=load.id) }}">Delete</a>
          </td>
        </tr>

        {% endfor %}

    </table>
</body>
</html>
